//
   Created by gechao on 02/03/2017.
extends layout

include _includes/sharedFunctions

block content
    .row.page-header
        .col-lg-12
            h1= pageHeader.title
            br
            h5= '  Finder: ' + location.author.name
            #locName(style='display: none') #{pageHeader.title}
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    p.rating
                        +outputRating(location.rating)
                    p= location.address
                        .panel.panel-primary
                            .panel-heading
                                h2.panel-title Opening hours
                            .panel-body
                                each time in location.openingTimes
                                    p
                                        |#{time.days} :
                                        if time.closed == true
                                            | closed
                                        else
                                            | #{time.opening} - #{time.closing}
                        .panel.panel-primary
                            .panel-heading
                                h2.panel-title Facilities
                            .panel-body
                                each facility in location.facilities
                                    span.label.label-warning
                                        span.glyphicon.glyphicon-ok
                                        | &nbsp;#{facility}
                                    | &nbsp;
                .col-xs-12.col-sm-6.location-map
                    .panel.panel-primary(style='height: 350px')
                        .panel-heading
                            h2.panel-title Location map
                        #map.panel-body(style='height: 100%')
                            #lng(style='display: none') #{location.coords.lng}
                            #lat(style='display: none') #{location.coords.lat}
            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            a#add.btn.btn-default.pull-right.btn-xs(href='/location/#{location._id}/reviews/new') Add review
                            #rmd.pull-right Please log in to add reviews
                            h2.panel-title Customer reviews
                        .panel-body.review-container
                            each review in location.reviews
                                .row
                                    .review
                                        .well.well-sm.review-header
                                            span.rating
                                                +outputRating(review.rating)
                                            span.reviewAuthor= review.author
                                            small.reviewTimestamp
                                                +formatDate(review.createOn)
                                        .col-xs-12
                                            p !{(review.reviewText).replace(/\n/g,'<br/>')}
        .col-xs-12.col-md-3(style='height: 250px')
            #panorama(style='height: 100%')
            p.lead #{location.name} #{sidebar.context}
            p #{sidebar.callToAction}
block scripts
  script.
    if (!isLoggedIn()){
      //console.log($('#add').prop('disabled'));
      $('#add').hide();
      $('#rmd').show();
    }else {
      $('#add').show();
      $('#rmd').hide();
    }

    var lng = parseFloat($('#lng').text());
    var lat = parseFloat($('#lat').text());
    var lng_usr = account.lng, lat_usr = account.lat;
    var locName = $('#locName').text();

    var map = new BMap.Map('map');
    var point = new BMap.Point(lng, lat);
    var scaleCtl = new BMap.ScaleControl();
    var navCtl = new BMap.NavigationControl();
    var panoCtl = new BMap.PanoramaControl();
    panoCtl.setOffset(new BMap.Size(20, 20));
    var panorama = new BMap.Panorama('panorama');

    var convertor = new BMap.Convertor();
    var pointArr = [];
    pointArr.push(point);
    var cbTranslate = function (data) {
        if (data.status === 0) {
            var marker = new BMap.Marker(data.points[0]);
            map.addOverlay(marker);
            marker.setTitle(locName);
            map.centerAndZoom(data.points[0], 17);
            map.addControl(scaleCtl);
            map.addControl(navCtl);
            map.addControl(panoCtl);

            panorama.setPosition(data.points[0]);
        }
    };
    convertor.translate(pointArr, 1, 5, cbTranslate);

    var convertor_usr = new BMap.Convertor();
    var points_usr = [], marker_usr;
    points_usr.push(new BMap.Point(lng_usr, lat_usr));
    var cbTranslate_usr = function (data) {
        if (data.status === 0) {
            var icon_usr = new BMap.Icon('/images/location.png', new BMap.Size(17, 24), {anchor: new BMap.Size(8.5,24)});
            marker_usr = new BMap.Marker(data.points[0], {icon: icon_usr});
            map.addOverlay(marker_usr);
            marker_usr.setTitle('Your position');
        }
    };
    convertor_usr.translate(points_usr, 1, 5, cbTranslate_usr);